/****************************/
/***** Introduction *********/
/****************************/
.introduction img {
    width: 55px;
    height: 55px;
}

.introduction {
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/gallerybgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.introduction-content {
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(15vh);
}

.introduction-content h3 {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.introduction-content p {
    margin-top: 30px;
    color: white;
}

.introduction-content .top-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 0;
}

.introduction-content .top-links a{
    text-decoration: none;
}

.introduction-content .top-links p{
    margin: 0;
}

.introduction-content .top-links .current-page p{
    color: green;
}



/*******************************/
/**** Images section ***********/
/*******************************/
.images {
    padding: 5% 7%;
}

.images img {
    width: 400px;
}





/**********************************************/
/**********************************************/
/* RESPONSIVENESS FOR THE DIFFERENT SECTIONS */
/*********************************************/
/*********************************************/
@media screen and (max-width: 768px) {

    /* INTRODUCTION SECTION */
    .introduction img {
        width: 55px;
        height: 55px;
    }

    .introduction {
        width: 100%;
        height: calc(100vh - 80px);
        padding: 5% 5%;
        margin-top: 80px;
    }

    .introduction-content {
        width: 100%;
        margin: auto;
        text-align: left;
        transform: translateY(10vh);
    }

    .introduction-content h3 {
        font-size: 30px;
    }

    .introduction-content p {
        margin-top: 20px;
    }

    /* images section */
    .images {
        width: 100%;
        padding: 5% 3%;
    }

    .images img{
        width: 20rem;
    }
}