@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
}



/*********************/
/********Navbar*******/
/*********************/
nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 7%;
    height: 100px;
    border-bottom: 8px solid #B0CB1F;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

nav img{
    line-height: 100px;
}

nav ul{
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    margin-left: 72px;
    line-height: 72px;
    align-items: center;
    position: relative;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #000000;
}

nav ul ul{
    position: absolute;
    top: 80px;
    display: none;
    background-color: white;
    border-radius: 8px;
    padding: 0 15px;
    transition: top 0.7s;
}

nav ul li:hover > ul{
    display: block;
    top: 70px;
}

nav ul ul li{
    float: none;
    width: 250px;
    margin: 0;
    display: list-item;
    position: relative;
    border-bottom: 1px solid black;
}

nav ul ul li:hover{
    color: #F36F21;
}

.active, nav ul li a:hover{
    color: #F36F21;
} 

.nav-toggle{
    display: none;
}


/*****************************/
/***Communication section*****/
/*****************************/
.communication{
    margin-top: 100px;
    position: relative;
    display: flex;
    height: calc(95vh - 100px);
    background-image: url(../images/indexbgimg.png);
    opacity: 1;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F36F21;
    opacity: 0.8;
}

.communication .communication-content{
    z-index: 1;
    padding: 5% 7%;
}

.communication .communication-content h4{
    font-size: 30px;
    color: white;
    margin-bottom: 24px;
}

.communication .communication-content h2{
    font-size: 50px;
    font-weight: bolder;
}

.communication-content button{
    height: 55px;
    width: 220px;
    background-color: #1C295E;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}

.communication-content button:hover {
    background-color: #E31E24;
    opacity: 1;
}

.communication-content button a{
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.communication-content button i{
    color: white;
    margin-left: 3px;
}

.communication .mission{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 46px;
    height: 68px;
    background-color: #43240F;
    text-align: center;
    justify-content: center;
    top: 460px;
}

.communication .mission .btn-{
    height: 36px;
    width: 92px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 28px;
    background: transparent;
    color: white;
    margin-top: 15px;
    font-family: 'Overpass', sans-serif;
}

.mission .btn-:hover{
    background: #F36F21;
    cursor: pointer;
    border: none;
}


/**** POPUP CONTENT ******/
.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.popup-content{
    background-color: white;
    height: 250px;
    width: 450px;
    border-radius: 10px;
    position: relative;
}

.popup-content .heading{
    background-color: #ECD1C2;
    opacity: 0.9;
    color: #000000;
    height: 70px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
}

.popup-content .heading h5{
    font-weight: 600;
}

.popup-content .heading hr{
    width: 15%;
    margin: 0 auto;
    height: 5px;
    border-radius: 10px;
    color: #F36F21;
    opacity: 1;
}

.popup-content p{
    text-align: left;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.popup-content .exit, .popup-content .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    color: #000000;
    opacity: 1;
}

.popup-content .exit:hover, .popup-content .close:hover{
    cursor: pointer;
    color: #000000;
}

.popup-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}



/**********************************/
/********Divisions section*********/
/**********************************/
.divisions{
    padding: 5% 7%;
    background-color: #fff;
    text-align: center;
}

.divisions h3{
    font-size: 40px;
}

.divisions hr{
    width: 50px;
    margin: 30px auto;
    background-color: #F36F21;
    opacity: 1;
    height: 4px;
    border: none;
    border-radius: 8px;
    left: 500px;
}

.divisions p{
    font-size: 14px;
}

.divisions a{
    background-color: #E31E24;
    color: white;
    opacity: 85%;
    font-size: 12px;
    width: 93px;
    height: 39px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.divisions a:hover{
    background-color: #E31E24;
    opacity: 1;
}

.divisions img{
    width: 125px;
    height: 125px;
}

.divisions .row{
    justify-content: space-between;
    margin-top: 68px;
}

.divisions .row .col{
    width: 400px;  
}

.divisions .row .col .card{
    align-items: center;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4);
}

.divisions .row .col .card .card-head{
    padding: 37px 90px;
}

.divisions .row .col .card .card-body{
    background-color: #E4E4E4;
    padding: 26px;
}

.divisions .row .col .card .card-body h5{
    font-weight: bold;
}

.divisions .row .col .card .card-body i{
    margin-left: 10px;
}

/***********************************/
/***** Impact Section ************/
/***********************************/
.impact{
    padding: 5% 7%;
    text-align: center;
    background-color: #43240F;
}

.impact h3{
    font-size: 40px;
    color: white;
}

.impact hr{
    width: 50px;
    margin: 30px auto;
    background-color: #fff;
    opacity: 1;
    height: 4px;
    border: none;
    border-radius: 8px;
    left: 500px;
}

.impact-content{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.impact-content p{
    color: #fff;
    text-align: left;
    line-height: 2.5;
}

.impact-content-intro{
    margin-bottom: 40px;
}

.impact-content img{
    width: 30.5rem;
    height: 17rem;
    margin-left: 1.875rem;
}



/*******************************/
/***** Programs section ********/
/*******************************/
.programs{
    padding: 5% 7%;
    background-color: white;
    text-align: center;
}

.programs h3{
    font-size: 40px;
}

.programs hr{
    width: 50px;
    margin: 30px auto 65px;
    background-color: #F36F21;
    opacity: 1;
    height: 4px;
    border: none;
    border-radius: 8px;
    left: 500px;
}

.programs a{
    background-color: #E31E24;
    opacity: 0.85;
    color: white;
}

.programs-content{
    display: flex;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4);
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 60px;
}

.programs-content .programs-content-head img{
    width: 125px;
    height: 125px;
}

.programs-content .programs-content-head{
    width: 30%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.programs-content-desc{
    display: flex;
    justify-content: space-between;
    background-color: #E4E4E4;
    height: 100%;
    padding: 3% 2%;
    position: relative;
}

.programs-content-desc span{
    text-align: left;
    width: 80%;
}

.programs-content-desc span h5{
    font-weight: 700;
    margin-bottom: 18px;
}

.programs-content-desc a{
    height: 40px;
    width: 180px;
    border-radius: 10px;
    border: none;
    position: absolute;
    right: 2%;
    bottom: 10%;
}



/**********************************/
/********* Blog section ***********/
/**********************************/
.blog{
    padding: 5% 7%;
    background-color: #FFE9DC;
    opacity: 1;
    text-align: center;
}

.blog h3{
    font-size: 40px;
}

.blog hr{
    width: 50px;
    margin: 30px auto;
    background-color: #F36F21;
    opacity: 1;
    height: 4px;
    border: none;
    border-radius: 8px;
    left: 500px;
}



/***********************************/
/********** Team Section ***********/
/***********************************/
.team{
    padding: 5% 7%;
    text-align: center;
}

.team h3{
    font-size: 40px;
}

.team hr{
    width: 50px;
    margin: 30px auto;
    background-color: #F36F21;
    opacity: 1;
    height: 4px;
    border: none;
    border-radius: 8px;
    left: 500px;
}

.team .row {
    justify-content: space-between;
}

.team .row .col{
    width: 350px;
}

.team .row .col .card .card-head img{
    height: 189px;
}

.team .row .col .card .card-body{
    background-color: #FFE0CE;
    opacity: 85%;
    padding: 28px;
}



/***********************************/
/********** Partners ***************/
/***********************************/
.partners{
    padding: 5% 7%;
    background-color: #43240F;
    text-align: center;
}

.partners h3{
    font-size: 40px;
    color: white;
}

.partners hr{
    width: 50px;
    margin: 30px auto;
    background-color: white;
    opacity: 1;
    height: 4px;
    border: none;
    border-radius: 8px;
    left: 500px;
}

.partners .row .col img{
    width: 250px;
    height: 150px;
    border-radius: 8px;
}

.partners .row{
    margin-top: 78px;
}






/************************************/
/****** Footer section **************/
/************************************/
.footer{
    background-color: #000000;
    padding: 3% 7%;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}

.footer .container .maps{
    text-align: right;
}

.footer .container .maps img{
    width: 400px;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.footer .container .maps .useful-links{
    text-align: left;
}

.footer .container .maps .useful-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .container .maps .useful-links ul li{
}

.footer .container .maps .useful-links ul li a{
    text-decoration: none;
    color: white;
}

.footer .container ul{
    list-style-type: none;
    padding: 0;
}

.footer .container ul li p{
    color: #B0CB1F;
    font-size: 14px;
    margin: 0;
}

.footer .container ul li{
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 24px;
}

.footer .container form{
    margin-bottom: 24px;
}

.footer .container form input{
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 32px;
    padding: 8px;
    font-size: 15px;
}

.footer .container form img{
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

.footer .container form button{
    border: none;
    background-color: #F36F21;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 32px;
    width: 40px;
}

.footer .social-media{
    text-align: center;
    list-style-type: none;
}

.footer .social-media li{
    display: inline-block;
    margin-right: 16px;
    color: black;
    background-color: white;
    width: 20px;
    height: 20px;
    padding: 1px;
    border-radius: 4px;
}

.footer .copyright{
    text-align: center;
    color: #FFFFFF;
    opacity: 56%;
}



/**********************************************/
/**********************************************/
/* RESPONSIVENESS FOR THE DIFFERENT SECTIONS */
/*********************************************/
/*********************************************/
@media screen and (max-width: 768px){
    /* NAV SECTION */
    nav{
        width: 100%;
        overflow: hidden;
        height: 80px;
        flex-direction: column;
        align-items: flex-start;
        padding: 1% 5%;
        transition: 0.5s height ease-in-out;
    }

    nav .nav-img{
        height: 55px;
    }

    nav ul {
        margin: 0 auto 60%;
        padding: 0;
        align-items: center;
    } 

    nav ul li{
        display: block;
        line-height: 70px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
    }

    nav ul li a{
        margin: 0;
    }

    .nav ul ul{
        display: none;
    }

    .nav-toggle{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: block;
    }

    .open{
        height: 95vh;
        margin: 0;
    }

    .hidden{
        display: none;
    }

    /* COMMUNICATION SECTION */
    .communication{
        width: 100%;
        flex-wrap: wrap;
        height: calc(80vh - 80px);
        margin-top: 80px;
    }

    .communication .communication-content{
        padding: 10% 5%;
        text-align: left;
    }

    .communication .communication-content h4{
        font-size: 20px;
        color: white;
        margin-bottom: 30px;
    }
    
    .communication .communication-content h2{
        font-size: 30px;
        font-weight: bolder;
    }

    .call-to-action button{
        width: 140px;
        height: 56px;
        font-size: 15px;
    }

    .call-to-action i{
        margin-left: 10px;
    }

    .communication .mission{
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 46px;
        top: 330px;
    }

    /* ABOUT SECTION */
    .about{
        width: 100%;
        padding: 10% 5%;
        text-align: center;
    } 
    
    .about h3{
        font-size: 35px;
    }
    
    .about hr{
        margin: 20px auto;
    }
    
    .about p{
        line-height: 30px;
        font-size: 17px;
    }

    /* DIVISION SECTION */
    .divisions{
        width: 100%;
        padding: 10% 5%;
        text-align: center;
    }
    
    .divisions h3{
        font-size: 35px;
    }
    
    .divisions hr{
        margin: 20px auto;
    }
    
    .divisions p{
        font-size: 14px;
    }
    
    .divisions img{
        width: 100px;
        height: 100px;
    }
    
    .divisions .row{
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .divisions .row .col{
        width: 350px;
        margin: 20px auto;
    }

    /* IMPACT SECTION */
    .impact{
        padding: 10% 5%;
        width: 100%;
    }
    
    .impact-content{
        flex-direction: column;
    }
    
    .impact-content p{
        color: #fff;
        text-align: left;
        line-height: 2.5;
    }
    
    .impact-content-intro{
        margin-bottom: 40px;
    }
    
    .impact-content img{
        width: 100%;
        margin-left: 0;
    }

    /* PROGRAMS SECTION */
    .programs{
        width: 100%;
        padding: 10% 5%;
        text-align: center;
    }
    
    .programs-content{
        flex-direction: column;
        height: 400px;
    }
    
    .programs-content .programs-content-head img{
        width: 100px;
        height: 100px;
    }
    
    .programs-content .programs-content-head{
        width: 100%;
        height: 200px;
        background-color: #fff;
        padding: 5%;
    }
    
    .programs-content-desc{
        flex-direction: column;
        height: 100%;
        padding: 5% 5%;
        position: relative;
    }
    
    .programs-content-desc span{
        text-align: center;
        width: 100%;
    }

    .programs-content-desc a{
        height: 40px;
        width: 150px;
        border-radius: 10px;
        border: none;
        position: absolute;
        right: 25%;
        bottom: 5%;
    }
    

    

    /* BLOG SECTION */
    .blog{
        width: 100%;
        padding: 10% 5%;
        text-align: center;
    }
    
    .blog h3{
        font-size: 35px;
    }
    
    .blog hr{
        margin: 20px auto;
    }

    /* TEAM SECTION */
    .team{
        width: 100%;
        padding: 10% 5%;
        text-align: center;
    }
    
    .team h3{
        font-size: 35px;
    }
    
    .team hr{
        margin: 20px auto;
    }
    
    .team .row .col{
        width: 350px;
        margin: 30px auto;
    }

    /* PARTNERS SECTION */
    .partners{
        width: 100%;
        padding: 10% 5%;
        text-align: center;
    }
    
    .partners h3{
        font-size: 35px;
        color: white;
    }
    
    .partners hr{
        margin: 20px auto;
    }
    
    .partners .row .col img{
        width: 130px;
        height: 110px;
    }
    
    .partners .row{
        margin-top: 30px;
    }


    /* FOOTER SECTION */
    .footer{
        width: 100%;
        background-color: #000000;
        padding: 10% 5% 3%;
    }
    
    .footer .container{
        flex-wrap: wrap;
    }
    
    .footer .container .maps{
        text-align: left;
    }
    
    .footer .container .maps img{
        width: 100%;
    }
    
    .footer .container ul{
        margin-top: 20px;
    }   
}


@media (min-width: 769px) and (max-width: 1023px){

}

@media (min-width: 1024px) and (max-width: 1400px){
    /* NAV SECTION */
    nav{
        width: 100%;
    }

    nav ul li{
        margin-left: 50px;
    }

    /*COMMUNICATION SECTION*/
    .communication .mission{
        top: 420px;
    }

    /*DIVISIONS SECTION */
    .divisions .row .col{
        width: 350px;  
    }
}
