@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

/*********************/
/********Navbar*******/
/*********************/
.navbar {
  border-bottom: 8px solid #b0cb1f;
  padding-left: 5%;
  padding-right: 5%;
  /* height: 90px; */
}

.nav-img {
  width: 80%;
}

nav .navbar-nav .nav-item:hover {
  color: #f36f21;
}

.navbar-toggler {
  /* background-color: #b0cb1f; */
  border: none;
  /* padding: 10px 6px; */
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.1rem;
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #f36f21;
}

.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 4px solid #f36f21;
}

nav .btn {
  background-color: #e31e24;
  opacity: 1;
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 8px;
  color: white;
}

nav .btn:hover {
  color: white;
  background-color: #f36f21;
}

.dropdown-menu {
  border-radius: 10px;
}

.dropdown-item {
  padding: 1.2rem;
}

/*****************************/
/***Communication section*****/
/*****************************/
.communication {
  position: relative;
  display: flex;
  margin-top: 30px;
  background-image: url(../images/indexbgimg.png);
  opacity: 1;
}

.color-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f36f21;
  opacity: 0.8;
}

.communication #comm-wrapper {
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 85px;
}

.communication img {
  position: relative;
  left: 100px;
  bottom: 30px;
  z-index: 1;
}

.communication .communication-content {
  position: relative;
  z-index: 2;
  padding: 2% 7%;
}

.communication .communication-content h4 {
  font-size: 30px;
  color: white;
  margin-bottom: 24px;
}

.communication .communication-content h2 {
  font-size: 50px;
  font-weight: bolder;
}

.communication-content button {
  height: 55px;
  width: 220px;
  background-color: #1c295e;
  border: none;
  border-radius: 8px;
  margin-top: 25px;
}

.communication-content button:hover {
  background-color: #273b89;
  opacity: 1;
}

.communication-content button a {
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.communication-content button i {
  color: white;
  margin-left: 3px;
}

.communication .mission {
  position: absolute;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: #43240f;
  text-align: center;
  justify-content: center;
  top: 540px;
  opacity: 0.7;
  z-index: 1;
}

.communication .mission button {
  height: 36px;
  width: 92px;
  font-size: 16px;
  border: 3px solid white;
  border-radius: 8px;
  background: transparent;
  color: white;
  font-family: "Overpass", sans-serif;
}

.mission button:hover {
  background: #f36f21;
  cursor: pointer;
  border: none;
}

/**** POPUP CONTENT ******/

.modal-header {
  border-bottom: none;
}

.modal-content {
  border-radius: 15px;
}

.pop-mission,
pop-vision {
  background-color: #ecd1c2;
  border-radius: 15px 10px 0 0;
}

.mission-header {
  opacity: 0.9;
  color: #000000;
  height: 70px;
  text-align: center;
  padding-top: 20px;
}

.h-bar {
  position: relative;
  right: 20px;
  bottom: 37px;
  border-bottom: 4px solid #f36f21;
  width: 50px;
  margin: auto;
}

/**********************************/
/********Divisions section*********/
/**********************************/
.divisions {
  padding: 5% 7%;
  background-color: #fff;
  text-align: center;
}

.divisions h3 {
  font-size: 40px;
}

.divisions hr {
  width: 50px;
  margin: 30px auto;
  background-color: #f36f21;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.divisions p {
  font-size: 14px;
}

.divisions a {
  background-color: #e31e24;
  color: white;
  opacity: 85%;
  font-size: 12px;
  width: 93px;
  height: 39px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.divisions a:hover {
  background-color: #e31e24;
  opacity: 1;
}

.divisions img {
  width: 125px;
  height: 125px;
}

.divisions .row {
  justify-content: space-between;
  margin-top: 68px;
}

.divisions .row .col {
  width: 400px;
}

.divisions .row .col .card {
  align-items: center;
  box-shadow: -1px 3px 10px rgba(0, 8, 24, 0.16);
}

.divisions .row .col .card:hover {
  transform: scale(1.06);
  transition: all ease 30ms;
}

.divisions .row .col .card .card-head {
  padding: 37px 90px;
}

.divisions .row .col .card .card-body {
  background-color: #e4e4e4;
  padding: 26px;
}

.divisions .row .col .card .card-body h5 {
  font-weight: bold;
}

.divisions .row .col .card .card-body i {
  margin-left: 10px;
}

/***********************************/
/***** Impact Section ************/
/***********************************/
.impact {
  padding: 5% 7%;
  text-align: center;
  background-color: #43240f;
}

.impact h3 {
  font-size: 40px;
  color: white;
}

.impact hr {
  width: 50px;
  margin: 30px auto;
  background-color: #fff;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.impact-content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.impact-content p {
  color: #fff;
  text-align: left;
  line-height: 2.5;
}

.impact-content-intro {
  margin-bottom: 40px;
}

.impact-content img {
  width: 30.5rem;
  height: 17rem;
  margin-left: 1.875rem;
}

/*******************************/
/***** Programs section ********/
/*******************************/
.programs {
  padding: 5% 7%;
  background-color: white;
  text-align: center;
}

.programs h3 {
  font-size: 40px;
}

.programs hr {
  width: 50px;
  margin: 30px auto 65px;
  background-color: #f36f21;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.programs a {
  background-color: #e31e24;
  opacity: 0.85;
  color: white;
}

.programs-content {
  display: flex;
  box-shadow: -1px 3px 10px rgba(0, 8, 24, 0.16);
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 60px;
}

.programs-content .programs-content-head img {
  width: 125px;
  height: 125px;
}

.programs-content .programs-content-head {
  width: 30%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.programs-content-desc {
  display: flex;
  justify-content: space-between;
  background-color: #e4e4e4;
  height: 100%;
  padding: 3% 2%;
  position: relative;
}

.programs-content-desc span {
  text-align: left;
  width: 80%;
}

.programs-content-desc span h5 {
  font-weight: 700;
  margin-bottom: 18px;
}

.programs-content-desc a {
  height: 40px;
  width: 180px;
  border-radius: 10px;
  border: none;
  position: absolute;
  right: 2%;
  bottom: 10%;
  padding-top: 8px;
  justify-content: center;
}

/**********************************/
/********* Blog section ***********/
/**********************************/
.blog {
  padding: 5% 7%;
  background-color: #ffe9dc;
  opacity: 1;
  text-align: center;
}

.blog h3 {
  font-size: 40px;
}

.blog hr {
  width: 50px;
  margin: 30px auto;
  background-color: #f36f21;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.blog .row .col .card .card-body {
  text-align: left;
}

.blog .row .col .card .card-body a {
  text-decoration: none;
  color: black;
}

/***********************************/
/********** Team Section ***********/
/***********************************/
.team {
  padding: 5% 7%;
  text-align: center;
}

.team h3 {
  font-size: 40px;
}

.team hr {
  width: 50px;
  margin: 30px auto;
  background-color: #f36f21;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.team .row {
  justify-content: space-between;
}

.team .row .col {
  width: 350px;
}

.team .row .col .card .card-head img {
  height: 250px;
}

.team .row .col .card .card-body {
  background-color: #ffe0ce;
  opacity: 85%;
  padding: 28px;
}

/************************************/
/****** Partners **************/
/************************************/
.partners hr {
  width: 50px;
  margin: 30px auto;
  background-color: #f36f21;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.partners h3 {
  font-size: 40px;
  text-align: center;
}

.c-wrapper {
  display: flex;
}

.c-item {
  flex: 1;
  /* border-radius: 5px; */
}

.c-item img {
  width: 150px;
  height: 150px;
}

/************************************/
/****** Footer section **************/
/************************************/
.footer {
  background-color: #000000;
  padding: 3% 7%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .container .maps {
  text-align: right;
}

.footer .container .maps iframe {
  width: 400px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.footer .container .maps .useful-links {
  text-align: left;
  margin-bottom: 20px;
  width: 400px;
}

.footer .container .maps .useful-links p {
  font-size: 14px;
  color: #b0cb1f;
}

.footer .container .maps .useful-links .row .col li {
  list-style-type: none;
}

.footer .container .maps .useful-links .row .col a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer .container .maps .useful-links ul li a {
  text-decoration: none;
  color: white;
}

.footer .container ul {
  list-style-type: none;
  padding: 0;
}

.footer .container ul li p {
  color: #b0cb1f;
  font-size: 14px;
  margin: 0;
}

.footer .container ul li {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 24px;
}

.footer .container form {
  margin-bottom: 24px;
}

.footer .container form input {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 32px;
  padding: 8px;
  font-size: 15px;
}

.footer .container form img {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.footer .container form button {
  border: none;
  background-color: #f36f21;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 32px;
  width: 40px;
}

.footer .social-media {
  text-align: center;
  list-style-type: none;
}

.footer .social-media li {
  display: inline-block;
  margin-right: 16px;
  color: black;
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 4px;
}

.footer .social-media li a {
  color: #000000;
}

.footer .copyright {
  text-align: center;
  color: #ffffff;
  opacity: 56%;
}

.footer .copyright a {
  text-decoration: none;
  color: #ffffff;
}

/**********************************************/
/**********************************************/
/* RESPONSIVENESS FOR THE DIFFERENT SECTIONS */
/*********************************************/
/*********************************************/

@media screen and (max-width: 576px) {
  .communication .communication-content {
    padding: 5% 5% 30% 5%;
    margin-left: -30px;
    text-align: left;
  }

  .communication img {
    width: 13rem;
    position: relative;
    left: -0.2px;
    bottom: 50px;
    z-index: 1;
  }

  .communication .mission {
    position: absolute;
    width: 100%;
    top: 360px;
    height: 55px;
    text-align: center;
  }

  /* Partners */

  .c-wrapper {
    display: flex;
  }

  .c-item {
    flex: 1;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .communication img {
    width: 13rem;
    position: relative;
    left: 60px;
    bottom: 70px;
    z-index: 1;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .communication img {
    width: 14rem;
    position: relative;
    left: 100px;
    bottom: 100px;
    z-index: 1;
  }
}

@media (min-width: 610px) and (max-width: 767px) {
  .communication img {
    width: 15rem;
    position: relative;
    left: 300px;
    bottom: 250px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  hr {
    margin: 0;
  }

  body {
    font-size: 15px;
  }

  /* NAV SECTION */
  .collapse {
    padding-top: 40px;
  }

  .navbar-nav {
    height: 100vh !important;
  }

  .navbar-nav .btn {
    width: 100%;
    text-transform: uppercase;
  }

  .navbar-toggler.collapsed .close-icon {
    display: none;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
  }

  .navbar-toggler-icon {
    font-size: 20px;
  }

  .navbar-nav .btn {
    font-weight: bold;
    padding-top: 8px;
    font-size: 1.1rem;
  }

  .close-icon {
    color: rgb(24, 90, 38);
    font-weight: bolder;
    width: 30px;
    /* font-size: 25px; */
  }

  .navbar-light .navbar-nav .dropdown-menu {
    margin: 0;
    /* margin-left: 20px; */
    border: 1px solid #f36f21;
    border-radius: 1px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .navbar-light .navbar-nav .dropdown-item {
    color: rgb(84, 82, 82);
    padding: 3%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dropdown-toggle::after {
    float: right;
    transition: 0.5s;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .navbar-collapse > .container {
    height: 99%;
    transition: 0.5s;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    transition: 0.3s;
    text-transform: uppercase;
    margin-top: 8px;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: #f36f21;
    border-bottom: none;
  }

  /* .dropdown-menu {
    text-align: center;
  } */

  /* COMMUNICATION SECTION */
  .communication {
    width: 100%;
    flex-wrap: wrap;
    /* height: calc(90vh - 100px); */
    height: 90vh !important;
    margin-top: 50px;
  }

  .communication .communication-content {
    padding: 0% 5% 25% 0%;
    /* margin-left: -30px; */
    text-align: left;
  }

  .communication #comm-wrapper {
    padding: 10px 0px 10px 50px;
  }

  .communication .communication-content h4 {
    width: 90%;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }

  .communication .communication-content h2 {
    font-size: 25px;
    font-weight: bolder;
  }

  .communication-content button {
    margin-top: 5px;
    height: 45px;
    width: 180px;
  }

  .communication-content button a {
    font-size: 14px;
  }

  .communication .mission {
    position: absolute;
    width: 100%;
    top: 480px;
    height: 53px;
    text-align: center;
    z-index: 2;
  }

  /* ABOUT SECTION */
  .about {
    width: 100%;
    padding: 10% 5%;
    text-align: center;
  }

  .about h3 {
    font-size: 35px;
  }

  .about hr {
    margin: 20px auto;
  }

  .about p {
    line-height: 30px;
    font-size: 17px;
  }

  /* DIVISION SECTION */
  .divisions {
    width: 100%;
    padding: 10% 5%;
    text-align: center;
  }

  .divisions h3 {
    font-size: 35px;
  }

  .divisions hr {
    margin: 20px auto;
  }

  .divisions p {
    font-size: 14px;
  }

  .divisions img {
    width: 100px;
    height: 100px;
  }

  .divisions .row {
    justify-content: space-between;
    margin-top: 20px;
  }

  .divisions .row .col {
    width: 350px;
    margin: 20px auto;
  }

  .divisions .row .col .card-body .card-text {
    text-align: left;
  }

  /* IMPACT SECTION */
  .impact {
    padding: 10% 5%;
    width: 100%;
  }

  .impact-content {
    flex-direction: column;
  }

  .impact-content p {
    color: #fff;
    text-align: left;
    line-height: 2;
  }

  .impact-content-intro {
    margin-bottom: 40px;
  }

  .impact-content img {
    width: 100%;
    margin-left: 0;
  }

  /* PROGRAMS SECTION */
  .programs {
    width: 100%;
    padding: 10% 5%;
    text-align: center;
  }

  .programs h3 {
    margin-bottom: 30px;
  }

  .programs-content {
    flex-direction: column;
    height: 400px;
  }

  .programs-content .programs-content-head img {
    width: 100px;
    height: 100px;
  }

  .programs-content .programs-content-head {
    width: 100%;
    height: 200px;
    background-color: #fff;
    padding: 5%;
  }

  .programs-content-desc {
    flex-direction: column;
    height: 100%;
    padding: 5% 5%;
    position: relative;
    text-align: center;
  }

  .programs-content-desc span {
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
  }

  .programs-content-desc a {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    position: static;
    margin: 0 auto;
  }

  /* BLOG SECTION */
  .blog {
    width: 100%;
    padding: 10% 5%;
    text-align: center;
  }

  .blog h3 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  /* TEAM SECTION */
  .team {
    width: 100%;
    padding: 10% 5%;
    text-align: center;
  }

  .team h3 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .team hr {
    margin: 20px auto;
  }

  .team .row .col {
    width: 350px;
    margin: 30px auto;
  }

  /* Partners */

  .partners h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }

  .partners hr {
    margin: 20px auto;
  }

  .c-wrapper {
    display: flex;
  }

  .c-item {
    flex: 1;
  }

  .c-item img {
    width: 80px;
    height: 80px;
  }

  /* FOOTER SECTION */
  .footer {
    width: 100%;
    background-color: #000000;
    padding: 10% 5% 3%;
  }

  .footer .container {
    flex-wrap: wrap;
  }

  .footer .container .maps {
    text-align: left;
  }

  .footer .container .maps iframe {
    width: 100%;
  }

  .footer .container .maps .useful-links {
    width: 100%;
  }

  .footer .container .maps .useful-links .row .col a {
    font-size: 13px;
  }

  .footer .container ul {
    margin-top: 20px;
  }

  .footer .copyright {
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* NAV SECTION */
  /* NAV SECTION */
  .collapse {
    padding-top: 40px;
  }

  .navbar-nav .btn {
    width: 100%;
    text-transform: uppercase;
  }

  .navbar-toggler.collapsed .close-icon {
    display: none;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
  }

  .navbar-toggler-icon {
    font-size: 20px;
  }

  .navbar-nav .btn {
    font-weight: bold;
    padding-top: 8px;
    font-size: 1.1rem;
  }

  .close-icon {
    color: rgb(24, 90, 38);
    font-weight: bolder;
    width: 30px;
    /* font-size: 25px; */
  }

  .navbar-light .navbar-nav .dropdown-menu {
    margin: 0;
    /* margin-left: 20px; */
    border: 1px solid #f36f21;
    border-radius: 1px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .navbar-light .navbar-nav .dropdown-item {
    color: rgb(84, 82, 82);
    padding: 3%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dropdown-toggle::after {
    float: right;
    transition: 0.5s;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .navbar-collapse > .container {
    height: 99%;
    transition: 0.5s;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    transition: 0.3s;
    text-transform: uppercase;
    margin-top: 8px;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: #f36f21;
    border-bottom: none;
  }

  /* COMMUNICATION*/
  .communication {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 90px;
  }

  .communication .communication-content {
    padding: 5% 5% 25% 5%;
    margin-left: -30px;
    text-align: left;
  }

  .communication #comm-wrapper {
    padding: 10px 0px 10px 50px;
  }

  .communication .communication-content h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
  }

  .communication .communication-content h2 {
    font-size: 30px;
    font-weight: bolder;
  }

  .communication-content button {
    height: 45px;
    width: 180px;
  }

  .communication-content button a {
    font-size: 14px;
  }

  .communication .mission {
    position: absolute;
    width: 100%;
    top: 350px;
    height: 53px;
    text-align: center;
  }

  /* DIVISIONS SECTION */
}

@media (min-width: 1200px) and (max-width: 1367px) {
  .divisions .row .col {
    width: 350px;
  }
}
