/****************************/
/***** Introduction *********/
/****************************/
.introduction img {
  width: 55px;
  height: 55px;
}

.introduction {
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/gsmpimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.introduction-content {
  width: 70%;
  margin: auto;
  text-align: center;
  transform: translateY(15vh);
}

.introduction-content button {
  height: 90px;
  width: 900px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

.introduction-content .content-h3 {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.introduction-content p {
  margin-top: 30px;
  color: white;
}

.introduction-content .top-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 0;
}

.introduction-content .top-links a {
  text-decoration: none;
}

.introduction-content .top-links p {
  margin: 0;
}

.introduction-content .top-links .current-page p {
  color: #b0cb1f;
}

/***************************************/
/*** Raising Leaders Section ***********/
/***************************************/
.raising-leaders {
  padding: 5% 132px;
}

.raising-leaders h5 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}

.raising-leaders h6 {
  font-size: 25px;
  color: #f36f21;
  text-align: center;
  margin-bottom: 32px;
}

/*****************************************************/
/***** OUR PROCESS SECTION AND CONTENT SECTION *******/
/*****************************************************/
.our-process,
.content {
  padding: 5% 0px;
  background-color: #ffe9dc;
}

.our-process h5 {
  font-size: 40px;
  text-align: center;
}

.our-process hr {
  width: 50px;
  margin: 20px auto;
  background-color: #f36f21;
  opacity: 1;
  height: 4px;
  border: none;
  border-radius: 8px;
  left: 500px;
}

.our-process h6 {
  color: #f36f21;
  font-size: 20px;
  margin-bottom: 14px;
}

.our-process .number {
  font-size: 12px;
  width: 12px;
  height: 12px;
  padding: 2px 4px;
  border-radius: 50%;
  border: 1px solid #f36f21;
  margin-right: 10px;
}

.our-process .container .row {
  justify-content: space-between;
  margin-top: 45px;
}

/***********************************/
/** SKILL ACQUISITION SECTION ******/
/***********************************/
.skill-acquisition {
  padding: 5% 132px 0;
}

.skill-acquisition h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.skill-acquisition h6 {
  text-align: center;
  margin-bottom: 48px;
}

.skill-acquisition .container {
  padding: 0;
}

.skill-acquisition .container .row {
  justify-content: space-between;
}

.skill-acquisition .container .row .row-content {
  padding: 12px;
  background-color: #ffffff;
  height: 100px;
  border-radius: 5px;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  width: 250px;
}

.skill-acquisition .container .row .row-content p {
  font-size: 15px;
}

.skill-acquisition .container .row .row-content button {
  border: none;
  border-radius: 10px;
  width: 96px;
  height: 28px;
  background-color: #ffe0ce;
  font-size: 12px;
}

/***************************************/
/**** APPLICATION SECTION **************/
/***************************************/
.apply {
  padding: 2% 132px;
  display: flex;
  justify-content: center;
}

.apply button {
  width: 197px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
}

.apply .trainee {
  border: 1px solid #f36f21;
  background-color: #fff;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.4);
  margin-right: 20px;
}

.apply .trainee:hover,
.apply .sponsor:hover {
  background-color: #f36f21;
  color: white;
}

.apply .sponsor {
  border: none;
  background-color: #ffe0ce;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.4);
}

/********************************/
/**** Get In Touch **************/
/********************************/
.get-in-touch {
  padding: 5% 132px;
}

.get-in-touch-content {
  width: 50%;
  height: 180px;
  background-color: #fbfbfb;
  display: flex;
  padding: 30px;
  align-items: center;
  border-radius: 10px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4);
}

.get-in-touch-content .envelope p {
  margin-top: 15px;
}

.get-in-touch-content .envelope p i {
  color: #f36f21;
}

.get-in-touch-content .envelope {
  height: 60px;
  width: 62px;
  background-color: #ffe0ce;
  text-align: center;
  transform: rotate(45deg);
  margin-right: 30px;
}

.get-in-touch-content .envelope:hover {
  transform: rotate(0deg);
  transition: ease all 0.5s;
}

.get-in-touch-content div h6 {
  font-size: 25px;
}

.get-in-touch-content div p {
  font-size: 16px;
  font-weight: 300;
}

.get-in-touch-content button {
  background-color: #ffe0ce;
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}

.get-in-touch-content button:hover {
  background-color: #f36f21;
  color: white;
}

/************************************/
/***** Pop Up Form ******************/
/************************************/

.modal-content {
  border-radius: 10px;
}

.modal-content form input {
  display: block;
  width: 100%;
  height: 36px;
  margin: 20px auto;
  font-size: 14px;
  color: #949494;
  padding: 5px 12px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
}

.modal-body form textarea {
  display: block;
  width: 100%;
  margin: 20px auto;
  font-size: 14px;
  color: #949494;
  padding: 5px 12px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
}

.color {
  color: #f36f21;
}

.modal-body p {
  font-size: 14px;
  text-align: left;
}

.modal-body .modal-body-colored-p {
  background-color: #ffe9dc;
  border-radius: 10px;
  padding: 10px;
}

.modal-body form select {
  display: block;
  width: 100%;
  height: 45px;
  margin: 28px auto;
  font-size: 14px;
  color: #949494;
  padding: 5px 12px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  background-color: white;
}

.modal-body form button {
  background-color: #e31e24;
  opacity: 0.85;
  border: none;
  border-radius: 10px;
  color: white;
}

/**********************************************/
/**********************************************/
/* RESPONSIVENESS FOR THE DIFFERENT SECTIONS */
/*********************************************/
/*********************************************/
@media screen and (max-width: 768px) {
  /* INTRODUCTION SECTION */
  .introduction {
    width: 100%;
    height: calc(70vh - 80px);
    padding: 5% 5%;
    margin-top: 70px;
  }

  .introduction-content {
    width: 100%;
    margin: auto;
    text-align: left;
    transform: translateY(7vh);
  }

  .introduction-content button {
    height: 110px;
    width: 100%;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .introduction-content .content-h3 {
    font-size: 20px;
  }

  .introduction-content p {
    font-size: 15px;
    margin-top: 20px;
  }

  .introduction-content ul {
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .introduction-content ul li a {
    font-size: 15px;
  }

  .introduction-content .top-links {
    display: none;
  }

  /* RAISING LEADERS SECTION */
  .raising-leaders {
    padding: 10% 5%;
    width: 100%;
  }

  .raising-leaders h5 {
    font-size: 25px;
  }

  .raising-leaders h6 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  /* OUR PROCESS SECTION */
  .our-process,
  .content {
    width: 100%;
    padding: 5% 0%;
  }

  .our-process h5 {
    font-size: 35px;
    text-align: center;
  }

  .our-process h6 {
    font-size: 18px;
  }

  .our-process .container .row {
    margin-top: 0;
  }

  .our-process .container .row .col-lg-6 {
    margin-top: 30px;
  }

  .content p {
    font-size: 15px;
  }

  /* SKILL-ACQUISITION SECTION */
  .skill-acquisition {
    width: 100%;
    padding: 10% 5% 0;
  }

  .skill-acquisition h5 {
    font-size: 20px;
  }

  .skill-acquisition h6 {
    font-size: 15px;
  }

  .skill-acquisition .container {
    padding: 0;
  }

  .skill-acquisition .container .row {
    justify-content: center;
  }

  /* APPLICATION SECTION */
  .apply {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .apply button {
    font-size: 13px;
    margin-bottom: 20px;
  }

  /* GET-IN-TOUCH SECTION */
  .get-in-touch {
    width: 100%;
    padding: 10% 5%;
  }

  .get-in-touch-content {
    width: 100%;
    height: 150px;
    padding: 20px;
  }

  .get-in-touch-content .envelope p {
    margin-top: 15px;
  }

  .get-in-touch-content .envelope {
    background-color: white;
  }

  .get-in-touch-content .envelope:hover {
    transform: rotate(0deg);
    transition: ease all 0.5s;
  }

  .get-in-touch-content div h6 {
    font-size: 20px;
  }

  .get-in-touch-content div p {
    font-size: 15px;
    font-weight: 300;
  }
}
