/****************************/
/***** Introduction *********/
/****************************/
.introduction img{
    width: 55px;
    height: 55px;
}

.introduction{
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/younggirls.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction-content{
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(30vh);
}

.introduction-content h3{
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.introduction-content p{
    margin-top: 30px;
    color: white;
}